.Track0,
.Track1,
.Track2 { background-image: url('Track_icons.png'); width: 16px; height: 16px; }

.Track0 { background-position: -0px; }
.Track1 { background-position: -16px; }
.Track2 { background-position: -32px; }
